{{ define "main" }}
<main>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <article class="col single">
        <hgroup>
          {{ if .Title }}
          <h1>{{ .Title }}</h1>
          {{ end }}
          <ul>
            <li class="published">{{ .Date.Format "Jan 2, 2006" }}</li>
            <li class="read-time" id="read-time"></li>
            {{ if isset .Params "categories" }}
            <li class="categories">
              <ul>
                {{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize .) }}
                <li><a href="{{ $href }}">{{ . }}</a></li>
                {{ end }}
              </ul>
            </li>
            {{ end }}
          </ul>
        </hgroup>
        <section>
          {{ .Content }}
        </section>
      </article>
    </div>
  </div>
</main>
{{ end }}
