html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.stage {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.stage > footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: .8rem;
  justify-content: center;
  padding: 1rem;
}

.stage > footer > * {
  margin: 0;
  padding: 0;
}

.stage > header {
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 1rem;
}

.stage > main {
  flex-grow: 1;
  text-align: justify;
}

.stage > main > .container-fluid {
  max-width: 700px;
}
