{{ define "main" }}
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col blog">
        {{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        {{ if gt (len $list) 0 }}
        <section class="categories">
          <h1>Categories</h1>
          <ul>
            {{ range $list }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
          </ul>
        </section>
        {{ end }}
        {{ $list := (where .Site.Pages "Type" "post") }}
        <section class="archive">
          <h1>Archive</h1>
          <ol>
            {{ range $list }}
            <li>
              <a href="{{ .Permalink }}"><time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</time></a>: {{ if .Title }}{{ .Title }}{{ else }}{{ .Summary | truncate 150 }}{{ end }}
            </li>
            {{ end }}
          </ul>
        </section>
      </div>
    </div>
  </div>
</main>
{{ end }}
